@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SourceHans';

    src: url("/43rd/assets/fonts/SourceHanSerifTC-ExtraLight.woff") format('woff');

    font-weight: 100;

    font-style: normal;
  }

  @font-face {
    font-family: 'SourceHans';

    src: url("/43rd/assets/fonts/SourceHanSerifTC-Light.woff") format('woff');

    font-weight: 200;

    font-style: normal;
  }

  @font-face {
    font-family: 'SourceHans';

    src: url("/43rd/assets/fonts/SourceHanSerifTC-Regular.woff") format('woff');

    font-weight: 300;

    font-style: normal;
  }

  @font-face {
    font-family: 'SourceHans';

    src: url("/43rd/assets/fonts/SourceHanSerifTC-Medium.woff") format('woff');

    font-weight: 400;

    font-style: normal;
  }

  @font-face {
    font-family: 'SourceHans';

    src: url("/43rd/assets/fonts/SourceHanSerifTC-SemiBold.woff") format('woff');

    font-weight: 500;

    font-style: normal;
  }

  @font-face {
    font-family: 'SourceHans';

    src: url("/43rd/assets/fonts/SourceHanSerifTC-Bold.woff") format('woff');

    font-weight: 600;

    font-style: normal;
  }

  @font-face {
    font-family: 'SourceHans';

    src: url("/43rd/assets/fonts/SourceHanSerifTC-Heavy.woff") format('woff');

    font-weight: 700;

    font-style: normal;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-hans;
  }
  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  li {
    list-style: circle;
    display: list-item;

    @apply ml-8 my-2;
  }
  p {
    display: block;
    @apply my-1 mx-0;
  }
  a:link, a:visited {
    @apply text-pink-400;
    text-decoration: underline;
    cursor: pointer;
  }

  a:link:active, a:visited:active {
    @apply text-pink-500;
  }

  button:focus, [type="submit"]:focus {
    outline: none;
  }
}