---
layout: default
---

<div class="text-left p-8 font-noto mx-auto" style="max-width: 960px; position: relative;" id="markdown">
    <div class="profile-img mx-auto bg-cover bg-center rounded-full w-28 h-28 lg:w-36 lg:h-36 my-2 shadow-md" style="background-image: url('{{site.baseurl}}/assets/img/{{ page.title }}.png');">
    </div>

    {{ content }}
</div>

<!-- <p>{{ page.date | date_to_string }} - {{ page.author }}</p> -->

<style>
    .profile-img {
        position: absolute;
        top: 45px;
        right: 50px;
    }
    @media only screen and (max-width: 615px) {
        .profile-img {
            position: static;
        }
        h1 {
            text-align: center;
        }
    }

</style>